<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
				After each trial you will be asked to press either A (left) or D (right) corresponding to the side that had the stronger contrast or motion. On each trial you will only pay attention to one feature, you will ignore the other.

                The response screen will look like this image, as a reminder about what each pair of responses would have looked like.
				</p>
        <div id="centerdiv">
        <img src="../../static/images/example-response.png">
        </div>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
