<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
				You will see two images that will appear briefly on the screen. Before and after the images the screen will be "masked" by static, you should ignore the mask. After each pair of images appears you will be shown two pairs of similar images. Choose the pair that was more similar to the pair you saw earlier.
                        <br>
				There will be a short sample game in the beginning, followed by a full length game.
				</p>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
