<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
				After each trial you will be asked to compare the stimulus you saw with two pairs of stimulus examples. One pair will be at the top of the screen, the other will be at the bottom.

                One pair will always have the "stronger" stimulus on the left, to pick that pair press "A".

                The other pair will always have the "stronger" stimulus on the right, to pick that pair press "D".
				</p>
        <div id="centerdiv">
        <img src="../../static/images/example-response.png">
        </div>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
